.aae-pricing.container-styles {
  padding-top: 75px;
  /* padding-left: 4em; */
  /* padding-right: 4em; */
}

.naira-icon svg {
  fill: #fff;
}

.pricing-group__section {
  padding: 20px 40px;
  background-color: #fff;
  border-bottom: 1px solid #a5afda2d;
}

.pricing-section__title {
  padding-left: 20px;
  font-weight: 600;
  font-size: 18px;
  position: relative;
}

.pricing-table-header {
  background-color: #fff;
  border-color: #f2f8ff;
}

.pricing-title-header {
  padding: 20px !important;
}

.pricing-section__title::before {
  content: "";
  position: absolute;
  background-color: var(--color-dark-blue);
  bottom: -4px;
  height: 3px;
  width: 40px;
}

.pricing-section__cards {
  display: flex;
  flex-wrap: wrap;
}

/* Customization section */

.customization__container {
  border: 1px solid #e4e8e6;
  padding: 30px 0px;
  padding-top: 15px;
  background: radial-gradient(
    100% 100% at 0,
    at 0,
    hsla(0, 0%, 100%, 0.4) 0,
    hsla(0, 0%, 100%, 0) 100%
  );
  background: radial-gradient(
    100% 100% at 0 0,
    hsla(0, 0%, 100%, 0.4) 0,
    hsla(0, 0%, 100%, 0) 100%
  );
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  margin-bottom: 50px;
}

.customization__info {
  margin: 20px 0px;
  margin-bottom: 45px;
  margin-top: 0px;
  padding: 30px;
  background-color: var(--color-dark-blue);
  color: white;
  position: relative;
}

.customization__info h1 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.customization__info p {
  font-size: 16px;
  line-height: 2.2rem;
  font-weight: 300;
}

.customization__info .naira-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

h2.suitable-plan {
  font-weight: 550;
  font-size: 1.3rem;
  margin-bottom: 0px;
  border: 1px solid #3b4a8f1a;
  background-color: #f2f8ff;
  color: #3b4a8f;
  padding: 15px 40px;
}

.customization__sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #a5afda57;
  background-color: var(--color-dark-blue);
  padding-right: 0px;
  min-width: 180px;
}

.customization__sidebar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.customization__sidebar ul li {
  width: 100%;
  text-decoration: none;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.customization__sidebar ul li a {
  width: 80%;
  text-align: center;
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  padding: 5px 0px;
  font-weight: 600;
  margin: 5px 0px !important;
  transition: all 0.2s ease-in-out;
}
.customization__sidebar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.126);
}
.customization__sidebar ul li a.active {
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  position: relative;
}

.customization__selector {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customization__selector h5,
.selector__cloth-type-number--container h5,
.selector__cloth-type-number h6,
.price__container h5 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.price__container h5 {
  margin-bottom: 5px;
  font-weight: 700;
  padding-left: 7px;
}

.selector__cloth-type-number--container h5 {
  padding: 0px 0px 10px 0px;
  text-align: center;
  border-bottom: 1px solid #a5afda57;
}

.selector__cloth-type-number h6 {
  text-align: center;
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.selector__section {
  border-right: 1px solid #a5afda57;
  padding: 20px;
  height: 100%;
  width: fit-content;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.customization__selector svg {
  fill: var(--color-dark-blue);
}

.rw-dropdown-list-input > * {
  font-size: 15px;
}
::placeholder {
  font-size: 15px;
  font-weight: 300 !important;
}

.selector__cloth-type-number .rw-widget-picker {
  width: 145px;
}

.selector__cloth-type-number .rw-widget-input {
  color: var(--color-dark-blue);
  width: 112px;
}

/* List option */
.rw-list-option {
  font-size: 0.9rem;
  padding: 0.3em 13.71px;
  outline: none;
  border-bottom: 1px solid#a5afda57;
}
.delivery__request .rw-list-option {
  color: #a8a8a8;
  font-weight: 300;
}

.rw-list-option.rw-state-selected {
  color: #fff;
  background-color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

.rw-list-option:last-of-type {
  border-bottom: none;
}

/* Multiselect Tag */

.rw-multiselect-tag {
  font-size: 14px;
  color: #fff;
  background-color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

.rw-multiselect-tag svg {
  fill: #fff;
}

/* Cloth type number */
.selector__cloth-type-number .rw-widget-input.service-type {
  margin: 0 auto;
  margin-top: 5px;
  width: 145px;
}
.selector__cloth-type-number--container {
  padding: 20px;
  padding-right: 30px;
  border-right: 1px solid #a5afda57;
}
.selector__cloth-type-number {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.selector__cloth-type-number h6 span,
.selector__section h5 span {
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
}

.cloth-type-number--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #a5afda57;
  background-color: #f2f8ff;
  padding: 10px;
  max-width: 200px;
  width: 100%;
}
.cloth-type-number--item:nth-of-type(odd) {
  border-right: 1px solid #a5afda57;
}
.cloth-type-number--item:nth-of-type(even) {
  padding-left: 10px;
  border-left: 1px solid #a5afda57;
}

/* Price Container */
.price__container {
  border-right: 1px solid #a5afda57;
  padding: 20px;
}

.price__container--section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-top: 1px solid #a5afda57;
  border-bottom: 1px solid #a5afda57;
}

.pricing-customization__section {
  background-color: white;
}
.pricing-customization__section p {
  margin-bottom: 20px;
}

.pricing-customization__section .primary-link {
  margin-top: 20px;
  border-color: #fff;
  padding: 0.5rem 1rem;
}
.pricing-customization__section .secondary-link {
  margin-top: 20px;
}

.price-tag {
  position: relative;
  display: inline-block;
  width: 180px;
  flex-direction: column;
  margin-left: 10px;
  padding: 10px 5px 10px 0px;
  color: #fff;
  border-radius: 0 4px 4px 0;
  background-color: var(--color-dark-blue);
  line-height: 1;
  justify-content: center;
}
.price-tag::before,
.price-tag::after {
  position: absolute;
  content: "";
}
.price-tag::before {
  left: -7px;
  width: 19px;
  height: 19px;
  transform: rotate(45deg);
  border-radius: 0 0 0 4px;
  background-color: var(--color-dark-blue);
}
.price-tag::after {
  z-index: 1;
  top: 50%;
  left: -10px;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%) translateX(10px);
  border-radius: 3px;
  background-color: #fff;
}
.price-tag__main {
  font-size: 1.15em;
  font-weight: bold;
}
.price-tag__main ~ * {
  opacity: 0.85;
}
.price-tag span {
  margin-left: 5px;
  position: relative;
  z-index: 1;
}

.price-tag span:last-of-type {
  margin-right: 0px;
  margin-left: 20px;
}

.total--items__count {
  display: flex;
  justify-content: center;
  width: 50px;
  background-color: #fff;
  border: 1px solid #a5afda57;
  padding: 6px 10px;
  margin-left: 7px;
  font-weight: 600;
  color: var(--color-dark-blue);
  border-radius: 4px;
}

.empty-price-list {
  width: 300px;
  text-align: center;
  color: var(--color-dark-blue);
}
.empty-price-list i {
  margin-bottom: 10px;
  margin-right: 7px;
}

.not-satisfied-info {
  font-weight: 500;
  font-style: italic;
  color: var(--color-dark-blue);
  font-size: 14px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1365px) {
  .customization__container {
    flex-direction: column;
  }
  .customization__sidebar {
    padding: 10px;
  }
  .customization__sidebar ul {
    flex-direction: row;
  }
  .cloth-type-number--item {
    width: 100%;
  }
}
@media screen and (max-width: 1160px) {
  .selector__cloth-type-number {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: auto; */
  }
}
@media screen and (max-width: 880px) {
  .customization__info h1 {
    width: 70%;
  }
  .customization__selector {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: unset;
  }
  .selector__section {
    border: none;
    width: 100%;
  }

  .price__container,
  .selector__cloth-type-number--container {
    border: none;
  }
  .selector__cloth-type-number {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .price__container--section {
    align-items: center;
  }
  .price-tag {
    text-align: center;
  }
  .price-tag span:last-of-type {
    margin: 0px;
  }
  .empty-price-list {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media screen and (max-width: 530px) {
  .aae-pricing.container-styles {
    padding-left: 0px;
    padding-right: 0px;
  }
  .customization__info h1 {
    width: 85%;
  }

  .customization__info .naira-icon {
    opacity: 0.5;
    top: 55%;
  }

  h2.suitable-plan {
    font-size: 18px;
  }

  .customization__sidebar ul li a {
    font-size: 14px;
    width: 100%;
    padding: 10px;
  }

  .selector__section {
    margin-right: 0px;
  }
  .selector__section > aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .selector__cloth-type-number--container {
    padding: 5px;
  }
  .cloth-type-number--item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .selector__cloth-type-number .rw-widget-input.service-type {
    margin: 5px auto;
  }
  .pricing-group__section {
    padding: 10px;
  }

  .pricing-section__title {
    padding: 10px !important;
    font-size: 1rem;
  }
  .pricing-title-header {
    padding: 10px !important;
  }
  .pricing-section__title::before {
    display: none;
  }

  /* Widgets styles */
  .rw-multiselect.rw-widget,
  .rw-dropdown-list,
  .rw-listbox,
  .rw-widget-input,
  .rw-list {
    max-width: 230px;
    width: 100% !important;
  }

  .empty-price-list {
    width: 80%;
  }

  .rc-collapse-content {
    padding: 0px;
  }
}
@media screen and (max-width: 330px) {
  .customization__info h1 {
    width: 90%;
  }
  .customization__info .naira-icon {
    display: none;
  }
  h2.suitable-plan {
    font-size: 1rem;
  }
  .customization__selector {
    padding: 0px;
  }
  .selector__section {
    padding: 10px;
  }

  .pricing-group__section {
    padding: 10px 0px;
  }

  .pricing-title-header {
    padding: 12px !important;
  }
  .pricing-section__title {
    font-size: 14px;
    padding-left: 10px;
  }
}
