.aae-pricing.container-styles {
  padding-top: 80px;
  /* padding-left: 4em; */
  /* padding-right: 4em; */
}

.naira-icon svg {
  fill: #fff;
}

.pricing-group__section {
  padding: 30px;
  background-color: #fff;
  border-bottom: 1px solid #a5afda2d;
}

.pricing-section__title {
  padding-left: 20px;
  font-weight: 600;
  font-size: 23px;
  position: relative;
}

.pricing-section__title::before {
  content: "";
  position: absolute;
  background-color: var(--color-dark-blue);
  bottom: 0px;
  height: 3px;
  width: 50px;
}

.pricing-section__cards {
  display: flex;
  flex-wrap: wrap;
}

/* Customization section */

.customization__container {
  border: 1px solid #e4e8e6;
  padding: 30px 10px;
  background: radial-gradient(
    100% 100% at 0,
    at 0,
    hsla(0, 0%, 100%, 0.4) 0,
    hsla(0, 0%, 100%, 0) 100%
  );
  background: radial-gradient(
    100% 100% at 0 0,
    hsla(0, 0%, 100%, 0.4) 0,
    hsla(0, 0%, 100%, 0) 100%
  );
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 0px 0px 10px 10px;
  display: flex;
  margin-bottom: 50px;
}

.customization__info {
  margin: 20px 0px;
  padding: 30px;
  background-color: var(--color-dark-blue);
  color: white;
  position: relative;
}

.customization__info h1 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.customization__info .naira-icon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

h2.suitable-plan {
  border: 1px solid #ecdad5;
  border-radius: 10px 10px 0px 0px;
  font-weight: 550;
  background-color: #fff5ef;
  color: #ec5429;
  font-size: 1.1rem;
  padding: 15px 15px;
  margin-bottom: 0px;
}

.customization__sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #a5afda57;
  background-color: var(--color-dark-blue);
  padding-right: 0px;
  border-radius: 10px;
  min-width: 180px;
}

.customization__sidebar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.customization__sidebar ul li {
  width: 100%;
  text-decoration: none;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.customization__sidebar ul li a {
  width: 80%;
  text-align: center;
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  padding: 5px 0px;
  font-weight: 600;
  margin: 5px 0px !important;
  transition: all 0.2s ease-in-out;
}
.customization__sidebar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.126);
}
.customization__sidebar ul li a.active {
  color: var(--color-dark-blue);
  background-color: var(--color-white);
  position: relative;
  border-radius: 3px;
}

.customization__selector {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customization__selector h5,
.selector__cloth-type-number--container h5,
.selector__cloth-type-number h6,
.price__container h5 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.price__container h5 {
  margin-bottom: 5px;
  font-weight: 700;
  padding-left: 7px;
}

.selector__cloth-type-number--container h5 {
  padding: 0px 0px 10px 0px;
  text-align: center;
  border-bottom: 1px solid #a5afda57;
}

.selector__cloth-type-number h6 {
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.selector__section {
  border-right: 1px solid #a5afda57;
  padding: 20px;
  height: 100%;
  width: fit-content;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.customization__selector svg {
  fill: var(--color-dark-blue);
}

.rw-dropdown-list-input > * {
  font-size: 15px;
}
::placeholder {
  font-size: 15px;
  font-weight: 300 !important;
}

.selector__cloth-type-number .rw-widget-picker {
  width: 145px;
}

.selector__cloth-type-number .rw-widget-input {
  color: var(--color-dark-blue);
  width: 112px;
}

/* List option */
.rw-list-option {
  font-size: 0.9rem;
  padding: 0.3em 13.71px;
  outline: none;
  border-bottom: 1px solid#a5afda57;
}
.delivery__request .rw-list-option {
  color: #a8a8a8;
  font-weight: 300;
}

.rw-list-option.rw-state-selected {
  color: #fff;
  background-color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

.rw-list-option:last-of-type {
  border-bottom: none;
}

/* Multiselect Tag */

.rw-multiselect-tag {
  font-size: 14px;
  color: #fff;
  background-color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

.rw-multiselect-tag svg {
  fill: #fff;
}

/* Cloth type number */
.selector__cloth-type-number .rw-widget-input.service-type {
  margin-top: 5px;
  width: 145px;
}
.selector__cloth-type-number--container {
  padding: 20px;
  padding-right: 30px;
  border-right: 1px solid #a5afda57;
}
.selector__cloth-type-number {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.selector__cloth-type-number h6 span,
.selector__section h5 span {
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
}

.cloth-type-number--item {
  padding-bottom: 10px;
  border-bottom: 1px solid #a5afda57;
}
.cloth-type-number--item:nth-of-type(odd) {
  padding-right: 10px;
  border-right: 1px solid #a5afda57;
}
.cloth-type-number--item:nth-of-type(even) {
  padding-left: 10px;
  border-left: 1px solid #a5afda57;
}

/* Price Container */
.price__container {
  border-right: 1px solid #a5afda57;
  padding: 20px;
}

.price__container--section {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-top: 1px solid #a5afda57;
  border-bottom: 1px solid #a5afda57;
}

.price-tag {
  position: relative;
  display: inline-block;
  width: 180px;
  flex-direction: column;
  margin-left: 10px;
  padding: 10px 5px 10px 0px;
  color: #fff;
  border-radius: 0 4px 4px 0;
  background-color: var(--color-dark-blue);
  line-height: 1;
  justify-content: center;
}
.price-tag::before,
.price-tag::after {
  position: absolute;
  content: "";
}
.price-tag::before {
  left: -7px;
  width: 19px;
  height: 19px;
  transform: rotate(45deg);
  border-radius: 0 0 0 4px;
  background-color: var(--color-dark-blue);
}
.price-tag::after {
  z-index: 1;
  top: 50%;
  left: -10px;
  width: 6px;
  height: 6px;
  transform: translate(-50%, -50%) translateX(10px);
  border-radius: 3px;
  background-color: #fff;
}
.price-tag__main {
  font-size: 1.15em;
  font-weight: bold;
}
.price-tag__main ~ * {
  opacity: 0.85;
}
.price-tag span {
  margin-left: 5px;
  position: relative;
  z-index: 1;
}

.price-tag span:last-of-type {
  margin-right: 0px;
  margin-left: 20px;
}

.total--items__count {
  display: flex;
  justify-content: center;
  width: 50px;
  background-color: #fff;
  border: 1px solid #a5afda57;
  padding: 6px 10px;
  margin-left: 7px;
  font-weight: 600;
  color: var(--color-dark-blue);
  border-radius: 4px;
}

.empty-price-list {
  width: 300px;
  text-align: center;
  color: var(--color-dark-blue);
}
.empty-price-list i {
  margin-bottom: 10px;
  margin-right: 7px;
}

.not-satisfied-info {
  font-weight: 500;
  font-style: italic;
  color: var(--color-dark-blue);
  font-size: 14px;
  margin-bottom: 5px;
}

/* Menu */
.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform 0.2s;
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: " ";
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  transition: all 0.3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0, 0%, 0%, 0.1);
  transition: transform 0.3s ease, background 0.2s ease;
}

.circular-menu .menu-item:hover {
  background-color: var(--complementary-orange);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
  right: auto;
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: var(--color-dark-blue);
}

.circular-menu.circular-menu-left:after {
  background-color: var(--color-dark-blue);
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(4em, -6.3em, 0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(6.5em, -3.2em, 0);
}
