.gallery-container {
  padding: 6em 0;
  background-color: var(--color-white);
}

.gallery-container h1 {
  font-weight: 700;
  text-align: center;
  width: 100%;
  font-size: 1.557rem;
  line-height: 1.61rem;
  margin: 30px 0px;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 20em) {
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 34em) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 60em) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.gallery-grid img {
  width: 100%;
  min-width: 200px;
  min-height: 200px;
  height: 100%;
  object-fit: cover;
  border: 5px solid #fff;
}

.gallery-grid div {
  position: relative;
  cursor: pointer;
}
.gallery-grid div:before,
.gallery-grid div:after {
  transition: 0.3s opacity ease;
  opacity: 0;
}
.gallery-grid div:after {
  content: "↔";
  font-size: 80px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  color: #fff;
  left: 50%;
  top: 50%;
  display: block;
}
.gallery-grid div:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  background: rgba(34, 34, 34, 0.5);
  display: block;
}
.gallery-grid div:hover:before,
.gallery-grid div:hover:after {
  opacity: 1;
  transition: 0.3s opacity ease;
}

.modal {
  position: fixed;
  z-index: 999;
  width: 50%;
  max-width: 800px;
  top: 100%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%) translateY(-50%);
}
@media (min-width: 20em) {
  .modal {
    width: 95%;
  }
}
@media (min-width: 34em) {
  .modal {
    width: 80%;
  }
}
@media (min-width: 60em) {
  .modal {
    width: 60%;
  }
}
.modal img {
  width: 100%;
  border: 5px solid var(--color-dark-blue);
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.modal-body button {
  outline: none;
  position: absolute;
  display: inline;
  color: #fff;
  text-decoration: none;
  line-height: 36px;
  font-size: 30px;
  font-weight: lighter;
  background: var(--color-dark-blue);
  border-radius: 5px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.modal-body .modal-close {
  right: 0;
  top: 0;
  border-radius: 0 0 0 5px;
}

.modal-body .modal-next,
.modal-body .modal-prev {
  right: 0;
  top: calc(50% - 25px);
  border-radius: 5px 0 0 5px;
  height: 50px;
  line-height: 40px;
  font-size: 60px;
}

.modal-body .modal-prev {
  left: 0;
  right: auto;
  border-radius: 0 5px 5px 0;
}

.modal-body {
  position: relative;
}

:root {
  --card-padding: 24px;
  --card-height: 340px;
  --card-skeleton: linear-gradient(lightgrey var(--card-height), transparent 0);
  --avatar-size: 32px;
  --avatar-position: var(--card-padding) var(--card-padding);
  --avatar-skeleton: radial-gradient(
    circle 16px at center,
    white 99%,
    transparent 0
  );
  --title-height: 32px;
  --title-width: 200px;
  --title-position: var(--card-padding) 180px;
  --title-skeleton: linear-gradient(white var(--title-height), transparent 0);
  --desc-line-height: 16px;
  --desc-line-skeleton: linear-gradient(
    white var(--desc-line-height),
    transparent 0
  );
  --desc-line-1-width: 230px;
  --desc-line-1-position: var(--card-padding) 242px;
  --desc-line-2-width: 180px;
  --desc-line-2-position: var(--card-padding) 265px;
  --footer-height: 40px;
  --footer-position: 0 calc(var(--card-height) - var(--footer-height));
  --footer-skeleton: linear-gradient(white var(--footer-height), transparent 0);
  --blur-width: 200px;
  --blur-size: var(--blur-width) calc(var(--card-height) - var(--footer-height));
}

/*
 * Card Skeleton for Loading
 */
.gallery-grid img :empty::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 10px 45px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
      90deg,
      rgba(211, 211, 211, 0) 0,
      rgba(211, 211, 211, 0.8) 50%,
      rgba(211, 211, 211, 0) 100%
    ),
    var(--title-skeleton), var(--desc-line-skeleton), var(--desc-line-skeleton),
    var(--avatar-skeleton), var(--footer-skeleton), var(--card-skeleton);
  background-size: var(--blur-size), var(--title-width) var(--title-height),
    var(--desc-line-1-width) var(--desc-line-height),
    var(--desc-line-2-width) var(--desc-line-height),
    var(--avatar-size) var(--avatar-size), 100% var(--footer-height), 100% 100%;
  background-position: -150% 0, var(--title-position),
    var(--desc-line-1-position), var(--desc-line-2-position),
    var(--avatar-position), var(--footer-position), 0 0;
  background-repeat: no-repeat;
  -webkit-animation: loading 1.5s infinite;
  animation: loading 1.5s infinite;
}

@-webkit-keyframes loading {
  to {
    background-position: 350% 0, var(--title-position),
      var(--desc-line-1-position), var(--desc-line-2-position),
      var(--avatar-position), var(--footer-position), 0 0;
  }
}

@keyframes loading {
  to {
    background-position: 350% 0, var(--title-position),
      var(--desc-line-1-position), var(--desc-line-2-position),
      var(--avatar-position), var(--footer-position), 0 0;
  }
}
