.aae-services.container-styles {
  padding-top: 75px;
  padding-left: 0px;
  padding-right: 0px;
}
.aae-services.container-styles nav {
  position: sticky;
  top: 75px;
  padding: 20px;
  padding-left: 4em;
  padding-right: 4em;
  background-color: var(--color-dark-blue);
  z-index: 2;
}
.aae-services.container-styles nav a {
  text-decoration: none;
  margin-right: 40px;
  border-bottom: 2px solid transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 4em;
  padding-bottom: 3px;
  transition: border 200ms ease;
}

.aae-wash-fold-service--main {
  /* background: #fff; */
  /* background-color: var(--color-platinum); */
}
.aae-wash-fold-service {
  padding: 3em 4em;
  display: flex;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1417' height='560' preserveAspectRatio='none' viewBox='0 0 1417 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1124%26quot%3b)' fill='none'%3e%3crect width='1417' height='560' x='0' y='0' fill='rgba(247%2c 247%2c 247%2c 1)'%3e%3c/rect%3e%3cpath d='M -1221.4502459484797%2c400 C -1079.65%2c347.2 -796.05%2c130.4 -512.4502459484797%2c136 C -228.85%2c141.6 -87.05%2c433.2 196.54975405152027%2c428 C 480.15%2c422.8 661.46%2c121.6 905.5497540515203%2c110 C 1149.64%2c98.4 1314.71%2c318 1417%2c370' stroke='rgba(229%2c 231%2c 235%2c 0.56)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -681.1980967870352%2c457 C -539.4%2c378.6 -255.8%2c57.2 27.80190321296483%2c65 C 311.4%2c72.8 453.2%2c461.8 736.8019032129648%2c496 C 1020.4%2c530.2 1309.76%2c242.8 1445.8019032129648%2c236 C 1581.84%2c229.2 1422.76%2c416.8 1417%2c462' stroke='rgba(229%2c 231%2c 235%2c 0.56)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -68.51703122752156%2c327 C 73.28%2c299.6 356.88%2c179 640.4829687724784%2c190 C 924.08%2c201 1065.88%2c381 1349.4829687724784%2c382 C 1633.08%2c383 2044.98%2c188.2 2058.4829687724787%2c195 C 2071.99%2c201.8 1545.3%2c371.8 1417%2c416' stroke='rgba(229%2c 231%2c 235%2c 0.56)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1226.7553165081315%2c498 C -1084.96%2c424.4 -801.36%2c161 -517.7553165081315%2c130 C -234.16%2c99 -92.36%2c341.8 191.2446834918685%2c343 C 474.84%2c344.2 655.09%2c121.8 900.2446834918685%2c136 C 1145.4%2c150.2 1313.65%2c358.4 1417%2c414' stroke='rgba(229%2c 231%2c 235%2c 0.56)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -1108.2196174420224%2c361 C -966.42%2c306.6 -682.82%2c90.8 -399.21961744202247%2c89 C -115.62%2c87.2 26.18%2c314 309.78038255797753%2c352 C 593.38%2c390 797.34%2c288.4 1018.7803825579775%2c279 C 1240.22%2c269.6 1337.36%2c299.8 1417%2c305' stroke='rgba(229%2c 231%2c 235%2c 0.56)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1124'%3e%3crect width='1417' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.wash-fold-service--intro {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1298' height='559' preserveAspectRatio='none' viewBox='0 0 1298 559'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1155%26quot%3b)' fill='none'%3e%3cpath d='M649 408.21C682.15 406.78 711.84 389.23 734.37 364.87 755.96 341.52 769.24 311.28 768.02 279.5 766.85 248.82 748.34 223.48 728.08 200.42 705.87 175.14 682.65 144.6 649 144.05 615.11 143.5 589.77 172.43 567.3 197.8 546.58 221.2 531.09 248.31 529.06 279.5 526.88 313 533.01 348.04 555.9 372.6 579.45 397.87 614.49 409.7 649 408.21' fill='rgba(59%2c 74%2c 143%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1155'%3e%3crect width='1298' height='559' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: 10% 250%;
  background-repeat: no-repeat;
  padding-left: 1.5em;
  border-radius: 10px 0px 0px 10px;
  background-color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wash-fold-service--intro h2,
.aae-how-it-works h2,
.aae-services-delivery h2 {
  color: var(--color-dark-blue);
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.aae-how-it-works h2,
.aae-services-delivery h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.aae-services-delivery h2 {
  margin-bottom: 0.5em;
}

.wash-fold-service--intro p,
.aae-services-delivery p {
  max-width: 400px;
  width: 70%;
  color: rgba(0, 0, 0, 0.568);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.aae-services-delivery p {
  max-width: 500px;
}

.wash-fold-service--intro--image {
  width: 60%;
  display: flex;
  align-items: center;
}
.wash-fold-service--intro--image img {
  border-radius: 0px 10px 10px 0px;
  width: 100%;
  object-fit: cover;
}

.aae-how-it-works {
  background-color: #fff;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1051%26quot%3b)' fill='none'%3e%3cpath d='M720 398.48C751.41 398.55 782 386.41 803.72 363.72 825.01 341.49 830.89 310.67 833.45 280 836.33 245.46 842.99 206.02 818.96 181.04 794.75 155.87 754.71 158.23 720 162.04 689.59 165.37 663.28 180.08 640.6 200.6 616.35 222.54 590.41 247.31 589.62 280 588.82 313.15 612.14 341.02 636.68 363.32 659.87 384.4 688.66 398.41 720 398.48' fill='rgba(59%2c 74%2c 143%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1051'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: 800% -2500%; */
  background-repeat: no-repeat;
  /* border-bottom: 2px solid var(--color-dark-blue); */
  padding: 3em 4em;
}

.how-it-works--steps {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.how-it-works {
  line-height: 1.7;
  font-size: 16px;
  margin-right: 20px;
  padding-top: 50px;
  position: relative;
  border-top: 2px solid #f2f0ee;
  max-width: 280px;
  color: #a09a93;
  margin-bottom: 30px;
}
.how-it-works h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.how-it-works.part-1 h5 {
  color: #a05eb5;
}
.how-it-works.part-2 h5 {
  color: #00a3e0;
}
.how-it-works.part-3 h5 {
  color: #006298;
}
.how-it-works.part-4 h5 {
  color: #eb9d00;
}

.how-it-works--steps .how-it-works span {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0px;
  left: 0px;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works--steps .how-it-works.part-1 span {
  background: linear-gradient(
      rgba(160, 94, 181, 0.08),
      rgba(160, 94, 181, 0.08)
    ),
    linear-gradient(#ffffff, #ffffff);
}

.how-it-works--steps .how-it-works.part-1 span i {
  color: #a05eb5;
}
.how-it-works--steps .how-it-works.part-2 span {
  background: linear-gradient(rgba(0, 163, 224, 0.08), rgba(0, 163, 224, 0.08)),
    linear-gradient(#ffffff, #ffffff);
}

.how-it-works--steps .how-it-works.part-2 span i {
  color: #00a3e0;
}
.how-it-works--steps .how-it-works.part-3 span {
  background: linear-gradient(rgba(0, 98, 152, 0.08), rgba(0, 98, 152, 0.08)),
    linear-gradient(#ffffff, #ffffff);
}

.how-it-works--steps .how-it-works.part-3 span i {
  color: #006298;
}
.how-it-works--steps .how-it-works.part-4 span {
  background: linear-gradient(rgb(235, 157, 0, 0.08), rgb(235, 157, 0, 0.08)),
    linear-gradient(#ffffff, #ffffff);
}

.how-it-works--steps .how-it-works.part-4 span i {
  color: rgb(235, 157, 0);
}

/* Delivery */
.aae-services-delivery {
  background-color: rgba(255, 255, 255, 0.5);
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1051%26quot%3b)' fill='none'%3e%3cpath d='M720 398.48C751.41 398.55 782 386.41 803.72 363.72 825.01 341.49 830.89 310.67 833.45 280 836.33 245.46 842.99 206.02 818.96 181.04 794.75 155.87 754.71 158.23 720 162.04 689.59 165.37 663.28 180.08 640.6 200.6 616.35 222.54 590.41 247.31 589.62 280 588.82 313.15 612.14 341.02 636.68 363.32 659.87 384.4 688.66 398.41 720 398.48' fill='rgba(59%2c 74%2c 143%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1051'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: -600% 600%; */
  background-repeat: no-repeat;
  /* background: url("http://dirtywashkit.demothemesflat.com/wp-content/uploads/2020/08/bg1.jpg"); */
  padding: 2em 4em;
  display: flex;
  flex-direction: column;
}

.delivery {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);

  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); */
  display: flex;
  max-width: 100%;
}

.delivery h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.delivery h2 {
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  margin: 10px 0;
}

.delivery-preview {
  background-color: var(--color-dark-blue);
  border-radius: 10px 0px 0px 10px;
  color: #fff;
  padding: 30px 0px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 40%;
}

.delivery-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 30px;
  text-decoration: none;
}

.delivery-info {
  padding: 30px;
  width: 100%;
  border-radius: 0px 10px 10px 0px;
  border: 2px solid var(--color-dark-blue);
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.568);
}

.delivery-bus-icon svg {
  width: 180px;
}

.aae-deliver--container {
  display: flex;
}

.aae-deliver---image-container {
  width: 50%;
  margin-left: 20px;
}
.aae-deliver---image-container img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

/* Schedule Pickup */
.aae-services--schedule-pickup-section {
  background-image: url("https://images.unsplash.com/photo-1615859721906-472e62eabbd3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=387&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80%;
  height: 80vh;
  position: relative;
}

.schedule-pickup-section--content {
  border-radius: 5px;
  background-color: #3b4a8fa8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 2;
  /* background-color: var(--color-platinum); */
}
.schedule-pickup-section--content h1 {
  font-size: 40px;
  max-width: 18em;
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 3rem;
}

.schedule-pickup-section--content button {
  border-color: white;
}
