.aae-nav-bar--extra-info {
  position: absolute;
  z-index: 10000;
  background-color: var(--color-dark-blue);
  width: 100%;
  padding: 0.2em 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 0.9rem;
  border-bottom: 2px solid var(--color-platinum);
}

.aae-nav-bar--extra-info p {
  margin-bottom: 0px;
  line-height: 1.3;
}

.logo-container svg {
  width: 200px;
  height: 80px;
}

.location-container {
  display: flex;
  align-items: center;
}

.aae-nav-bar--extra-info button:hover {
  border: 2px solid white;
}
