.wash-fold-service--intro.other-services {
  width: 50%;
  padding-top: 50px;
  background-position: 10% -300px;
  box-shadow: 13px 32px 36px -14px hsl(0deg 0% 70% / 20%);
}

.other-services-nav {
  list-style-type: none;
  color: #3b4a8fe8;
}
.other-services-nav--item {
  margin: 1.5rem 0;
}
.other-services-nav--item a {
  text-decoration: none;
  font-size: large;
  font-weight: 600;
  font-size: 18px;
  width: 300px;
}
.other-services-nav--item a:hover {
  color: var(--complementary-orange);
}
.other-services-nav--item a i {
  transition: all 0.3s ease-in-out;
}
.other-services-nav--item a:hover i {
  margin-left: 12px;
}

.mobile-view {
  display: none;
}

.other-services--gallery-row {
  width: 50%;
  padding: 5px;
}
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex: 50%;
  padding: 5px;
}
.other-services--gallery-row img {
  width: 280px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
  object-fit: cover;
}

@media screen and (min-width: 850px) {
  .other-services--container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
  }
  .other-services--container figure {
    background: #eee;
    width: calc(46% + 1px);
    height: 70vh;
    max-height: 500px;
    margin: 0 auto 10vh 0;
    position: sticky;
    top: 25vh;
    left: 50px;
    overflow: hidden;
  }

  .other-services--container figure::after {
    content: "";
    position: absolute;
    top: 5vmin;
    right: 5vmin;
    bottom: 5vmin;
    left: 45%;
    border: 2px dashed #fff;
    outline: 1px solid #fff;
    outline-offset: -5vmin;
    backdrop-filter: grayscale(1);
    pointer-events: none;
  }

  .other-services--section {
    background: #fff;
    width: calc(46% - 0px);
    height: 70vh;
    max-height: 500px;
    margin: 0vh 30px 20vh 10px;
    position: sticky;
    top: 25vh;
    box-shadow: 13px 32px 36px -14px hsl(0deg 0% 70% / 20%);
  }

  .other-services--container h2 {
    position: relative;
  }

  .other-services--container h2,
  .other-services--container div > i {
    font-size: 35px;
    font-weight: 700;
    color: var(--color-dark-blue);

    border-radius: 10px;
    padding: 10px 20px 10px 0px;
    /* width: 80%; */
  }

  .other-services--container div > i {
    left: 5%;
    bottom: 0%;
    transform: translateY(-50%);
    margin-right: 10px;
    font-size: 50px;
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
  }
  .other-services--container p {
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    width: 70%;
    font-size: 1rem;
    line-height: 1.71428571;
  }

  .other-services--section:nth-of-type(2n)::before {
    left: auto;
    right: -4px;
    transform: translate(calc(50% - 1px), -50%) rotate(-45deg) scale(-1);
  }

  .other-services--container figure img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .other-services--section > div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 400px;
    text-align: center;
    justify-content: center;
    border: 4px solid var(--color-platinum);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1417' height='560' preserveAspectRatio='none' viewBox='0 0 1417 560'%3E%3Cg mask='url(&quot;%23SvgjsMask1124&quot;)' fill='none'%3E%3Crect width='1417' height='560' x='0' y='0' fill='%23fff'%3E%3C/rect%3E%3Cpath d='M -1221.4502459484797,400 C -1079.65,347.2 -796.05,130.4 -512.4502459484797,136 C -228.85,141.6 -87.05,433.2 196.54975405152027,428 C 480.15,422.8 661.46,121.6 905.5497540515203,110 C 1149.64,98.4 1314.71,318 1417,370' stroke='rgba(229, 231, 235, 0.3)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -681.1980967870352,457 C -539.4,378.6 -255.8,57.2 27.80190321296483,65 C 311.4,72.8 453.2,461.8 736.8019032129648,496 C 1020.4,530.2 1309.76,242.8 1445.8019032129648,236 C 1581.84,229.2 1422.76,416.8 1417,462' stroke='rgba(229, 231, 235, 0.3)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -68.51703122752156,327 C 73.28,299.6 356.88,179 640.4829687724784,190 C 924.08,201 1065.88,381 1349.4829687724784,382 C 1633.08,383 2044.98,188.2 2058.4829687724787,195 C 2071.99,201.8 1545.3,371.8 1417,416' stroke='rgba(229, 231, 235, 0.3)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -1226.7553165081315,498 C -1084.96,424.4 -801.36,161 -517.7553165081315,130 C -234.16,99 -92.36,341.8 191.2446834918685,343 C 474.84,344.2 655.09,121.8 900.2446834918685,136 C 1145.4,150.2 1313.65,358.4 1417,414' stroke='rgba(229, 231, 235, 0.3)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -1108.2196174420224,361 C -966.42,306.6 -682.82,90.8 -399.21961744202247,89 C -115.62,87.2 26.18,314 309.78038255797753,352 C 593.38,390 797.34,288.4 1018.7803825579775,279 C 1240.22,269.6 1337.36,299.8 1417,305' stroke='rgba(229, 231, 235, 0.3)' stroke-width='2'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1124'%3E%3Crect width='1417' height='560' fill='white'%3E%3C/rect%3E%3C/mask%3E%3C/defs%3E%3C/svg%3E");
  }
}

@media screen and (min-width: 1380px) {
  .other-services--container {
    background-color: #eee;
  }
}
@media screen and (max-width: 1360px) {
  .aae-wash-fold-service.other-services {
    align-items: center;
    justify-content: center;
    padding: 3em 0em !important;
  }
  .wash-fold-service--intro.other-services {
    width: 40%;
    background-position: 20% -300px;
    box-shadow: 13px 32px 36px -14px hsl(0deg 0% 70% / 20%);
    padding-left: 30px !important;
  }
  .other-services--gallery-row img {
    width: 200px;
    height: 200px;
  }
}
@media screen and (max-width: 1120px) {
  .other-services--container figure {
    left: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .aae-services.container-styles {
    padding-top: 60px;
  }
  .other-services--gallery-row {
    width: 100%;
  }
}

@media screen and (max-width: 1028px) {
  .aae-wash-fold-service {
    flex-direction: column;
  }

  .column {
    display: none;
  }
  .wash-fold-service--intro.other-services {
    width: 95%;
    background-position: -20% -300px;
  }
}

@media screen and (max-width: 849px) {
  .other-services--container figure {
    height: 300px;
  }
  .other-services--container figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .other-services--section {
    background-color: white;
  }
  .other-services--section {
    background: #fff;
    padding: 30px;
    width: 100%;
    max-height: 500px;
    box-shadow: 13px 32px 36px -14px hsl(0deg 0% 70% / 20%);
  }

  .other-services--section > div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 400px;
    text-align: center;
    justify-content: center;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1417' height='560' preserveAspectRatio='none' viewBox='0 0 1417 560'%3E%3Cg mask='url(&quot;%23SvgjsMask1124&quot;)' fill='none'%3E%3Crect width='1417' height='560' x='0' y='0' fill='%23fff'%3E%3C/rect%3E%3Cpath d='M -1221.4502459484797,400 C -1079.65,347.2 -796.05,130.4 -512.4502459484797,136 C -228.85,141.6 -87.05,433.2 196.54975405152027,428 C 480.15,422.8 661.46,121.6 905.5497540515203,110 C 1149.64,98.4 1314.71,318 1417,370' stroke='rgba(229, 231, 235, 0.3)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -681.1980967870352,457 C -539.4,378.6 -255.8,57.2 27.80190321296483,65 C 311.4,72.8 453.2,461.8 736.8019032129648,496 C 1020.4,530.2 1309.76,242.8 1445.8019032129648,236 C 1581.84,229.2 1422.76,416.8 1417,462' stroke='rgba(229, 231, 235, 0.3)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -68.51703122752156,327 C 73.28,299.6 356.88,179 640.4829687724784,190 C 924.08,201 1065.88,381 1349.4829687724784,382 C 1633.08,383 2044.98,188.2 2058.4829687724787,195 C 2071.99,201.8 1545.3,371.8 1417,416' stroke='rgba(229, 231, 235, 0.3)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -1226.7553165081315,498 C -1084.96,424.4 -801.36,161 -517.7553165081315,130 C -234.16,99 -92.36,341.8 191.2446834918685,343 C 474.84,344.2 655.09,121.8 900.2446834918685,136 C 1145.4,150.2 1313.65,358.4 1417,414' stroke='rgba(229, 231, 235, 0.3)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M -1108.2196174420224,361 C -966.42,306.6 -682.82,90.8 -399.21961744202247,89 C -115.62,87.2 26.18,314 309.78038255797753,352 C 593.38,390 797.34,288.4 1018.7803825579775,279 C 1240.22,269.6 1337.36,299.8 1417,305' stroke='rgba(229, 231, 235, 0.3)' stroke-width='2'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1124'%3E%3Crect width='1417' height='560' fill='white'%3E%3C/rect%3E%3C/mask%3E%3C/defs%3E%3C/svg%3E");
  }
  .other-services--container h2 {
    position: relative;
  }

  .other-services--container h2,
  .other-services--container div > i {
    font-size: 35px;
    font-weight: 700;
    color: var(--color-dark-blue);

    border-radius: 10px;
    padding: 10px 20px 10px 0px;
    /* width: 80%; */
  }

  .other-services--container div > i {
    display: none;
    left: 5%;
    bottom: -15%;
    transform: translateY(-50%);
    margin-right: 10px;
    font-size: 50px;
    position: absolute;
    color: rgba(0, 0, 0, 0.1);
  }
  .other-services--container p {
    color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    width: 70%;
    font-size: 1rem;
    line-height: 1.71428571;
  }
}
@media screen and (max-width: 565px) {
  .aae-wash-fold-service.other-services {
    padding: 0em 0em !important;
  }
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: inline-block;
  }
}
@media screen and (max-width: 440px) {
  .wash-fold-service--intro.other-services {
    width: 100%;
    background-position: -20% -300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0px;
    padding-left: 20px;
    border-radius: 10px;
  }
  .other-services-nav {
    width: 95%;
  }
  .wash-fold-service--intro p,
  .aae-services-delivery p {
    text-align: left;
    width: 90% !important;
  }
  .other-services--section {
    max-height: fit-content;
  }

  .aae-services.container-styles nav {
    padding: 20px 20px !important;
  }

  .aae-services-nav-bar--links-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .aae-services.container-styles nav a {
    margin-right: 0px !important;
    max-width: none !important;
  }

  .other-services--section > div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 100%;
  }
  .other-services--container p {
    width: 100%;
  }
  .other-services--container div > i {
    left: -6%;
    bottom: -10%;
    color: rgba(0, 0, 0, 0.03);
  }
}
@media screen and (max-width: 280px) {
  .aae-services.container-styles nav {
    padding: 20px 8px !important;
  }
}
