/* Container Styles */
.aae-landing-about-us--container.container-styles {
  margin-bottom: 200px;
  margin-top: 60px;
}

.aae-landing-about-us--wrapper {
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: -50px -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aae-landing-about-us--image {
  width: 50%;
  position: relative;
}

.aae-landing-about-us--image::before {
  content: "Since 2017";
  background-color: #32956f;
  position: absolute;
  top: -40px;
  left: -40px;
  color: white;
  font-weight: 800;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.aae-landing-about-us--image img {
  border-radius: 10px;
}

.aae-landing-about-us--content {
  padding: 50px 10px;
  border-radius: 20px;
  height: 110%;
  width: 45%;
  background-color: #cfeae0;
  border: 1px solid #32956f9c;
}

.aae-landing-about-us--wrapper .landing-services--content-header h1,
.aae-landing-about-us--wrapper .landing-services--content-header h1 span {
  text-align: left;
  line-height: 1.2;
}
.aae-landing-about-us--wrapper .landing-services--content-header h1:before {
  display: none;
}
.aae-landing-about-us--wrapper .landing-services--content-header h1 em {
  color: #32956f;
}

.aae-landing-about-us--content-description {
  padding: 20px;
  padding-top: 0px;
  margin-left: 100px;
  position: relative;
}

.aae-landing-about-us--content-description::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -80px;
  background-color: #32956f;
  height: 2px;
  width: 80px;
}

.aae-landing-about-us--content-description p:nth-child(1) {
  font-size: 0.9rem;
  margin-bottom: 20px;
  letter-spacing: 0.025em;
}
.aae-landing-about-us--content-description p:nth-child(2) {
  font-size: 0.9rem;
  color: #888;
}
