.aae-landing-pricing--section {
  padding-top: 30px !important;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1298' height='559' preserveAspectRatio='none' viewBox='0 0 1298 559'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1155%26quot%3b)' fill='none'%3e%3cpath d='M649 408.21C682.15 406.78 711.84 389.23 734.37 364.87 755.96 341.52 769.24 311.28 768.02 279.5 766.85 248.82 748.34 223.48 728.08 200.42 705.87 175.14 682.65 144.6 649 144.05 615.11 143.5 589.77 172.43 567.3 197.8 546.58 221.2 531.09 248.31 529.06 279.5 526.88 313 533.01 348.04 555.9 372.6 579.45 397.87 614.49 409.7 649 408.21' fill='rgba(59%2c 74%2c 143%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1155'%3e%3crect width='1298' height='559' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: right -630px top -259px;
  background-repeat: no-repeat;
}

.aae-landing-pricing--section .landing-services--content-header h1 em {
  color: var(--color-dark-blue);
}

.landing-pricing--content-body {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1417' height='560' preserveAspectRatio='none' viewBox='0 0 1417 560'%3E%3Cg mask='url(&quot;%23SvgjsMask1124&quot;)' fill='none'%3E%3Crect width='1417' height='560' x='0' y='0' fill='%23fff'%3E%3C/rect%3E%3Cpath d='M -1221.4502459484797,400 C -1079.65,347.2 -796.05,130.4 -512.4502459484797,136 C -228.85,141.6 -87.05,433.2 196.54975405152027,428 C 480.15,422.8 661.46,121.6 905.5497540515203,110 C 1149.64,98.4 1314.71,318 1417,370' stroke='rgba(229, 231, 235, 0.3)' strokeWidth='2'%3E%3C/path%3E%3Cpath d='M -681.1980967870352,457 C -539.4,378.6 -255.8,57.2 27.80190321296483,65 C 311.4,72.8 453.2,461.8 736.8019032129648,496 C 1020.4,530.2 1309.76,242.8 1445.8019032129648,236 C 1581.84,229.2 1422.76,416.8 1417,462' stroke='rgba(229, 231, 235, 0.3)' strokeWidth='2'%3E%3C/path%3E%3Cpath d='M -68.51703122752156,327 C 73.28,299.6 356.88,179 640.4829687724784,190 C 924.08,201 1065.88,381 1349.4829687724784,382 C 1633.08,383 2044.98,188.2 2058.4829687724787,195 C 2071.99,201.8 1545.3,371.8 1417,416' stroke='rgba(229, 231, 235, 0.3)' strokeWidth='2'%3E%3C/path%3E%3Cpath d='M -1226.7553165081315,498 C -1084.96,424.4 -801.36,161 -517.7553165081315,130 C -234.16,99 -92.36,341.8 191.2446834918685,343 C 474.84,344.2 655.09,121.8 900.2446834918685,136 C 1145.4,150.2 1313.65,358.4 1417,414' stroke='rgba(229, 231, 235, 0.3)' strokeWidth='2'%3E%3C/path%3E%3Cpath d='M -1108.2196174420224,361 C -966.42,306.6 -682.82,90.8 -399.21961744202247,89 C -115.62,87.2 26.18,314 309.78038255797753,352 C 593.38,390 797.34,288.4 1018.7803825579775,279 C 1240.22,269.6 1337.36,299.8 1417,305' stroke='rgba(229, 231, 235, 0.3)' strokeWidth='2'%3E%3C/path%3E%3C/g%3E%3Cdefs%3E%3Cmask id='SvgjsMask1124'%3E%3Crect width='1417' height='560' fill='white'%3E%3C/rect%3E%3C/mask%3E%3C/defs%3E%3C/svg%3E");
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landing-services--content-header {
  position: relative;
}

.landing-services--content-header .naira-icon svg {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: rotate(30deg) translateY(-50%);
  fill: var(--color-platinum);
}

.calculator {
  padding: 3px 5px;
  border-radius: 3px;
  background-color: #ec53293f;
}

.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 1em;
}
.pricing-item {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  width: 340px;
  padding: 10px;
  margin-bottom: 20px;
}
.pricing-action {
  color: inherit;
  border: none;
  background: none;
}
.pricing-action:focus {
  outline: none;
}
.pricing-feature-list {
  text-align: left;
}
.pricing-palden .pricing-item {
  background: #fff;
  box-shadow: 0 0 10px #d4d5d8;
  border-radius: 20px 20px 10px 10px;
}

.pricing-palden .pricing-deco {
  border-radius: 10px 10px 0 0;
  background: var(--color-dark-blue);
  padding: 1em 0 5.2em;
  position: relative;
  color: white;
}

.pricing.pricing-palden.focused .pricing-deco {
  padding-top: 0px;
  background-color: #e6e6e682;
  color: var(--color-dark-blue);
}

.pricing.pricing-palden.focused svg {
  fill: var(--color-dark-blue);
  color: var(--color-dark-blue);
}

.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

.pricing-item .item-image svg {
  margin: 0 auto;
  width: 200px;
  height: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pricing-palden .pricing-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  padding: 10px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.pricing-offer-details p {
  margin-bottom: 5px;
  font-weight: 400;
}

.pricing-palden .deco-layer.deco-layer--1 {
  animation: transformInfintely1 1s infinite;
}
.pricing-palden .deco-layer.deco-layer--2 {
  animation: transformInfintely2 1s infinite;
}

@keyframes transformInfintely1 {
  0% {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(7.5px, 0, 0);
    transform: translate3d(7.5px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}
@keyframes transformInfintely2 {
  0% {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-15px, 0, 0);
    transform: translate3d(-15px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
}

.pricing-palden .icon {
  font-size: 2.5em;
}
.pricing-palden .pricing-price {
  font-size: 3em;
  font-weight: bold;
  padding: 20px;
  padding-top: 0px;
  color: var(--color-dark-blue);
  line-height: 0.75;
  z-index: 1;
}
.pricing-palden.focused .pricing-item .pricing-title {
  background-color: var(--color-dark-blue);
  color: #fff;
  border-radius: 10px 10px 0px 0px;
}

.pricing-palden .pricing-currency {
  font-size: 1rem;
}
.pricing-palden .pricing-period {
  font-size: 0.2em;
  padding: 0 0 0 0.5em;
  font-style: italic;
}
.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}
.pricing-palden .pricing-feature-list {
  margin: 0;
  padding: 0.25em 0 2.5em;
  list-style: none;
  text-align: center;
}
.pricing-palden .pricing-feature {
  padding: 1em 0;
}
.pricing-palden .pricing-action {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 30px;
  background: #4d4766;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.pricing-palden .pricing-action:hover,
.pricing-palden .pricing-action:focus {
  background-color: #100a13;
}
.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8.885em 0;
}

.svg-blob-1 {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  z-index: -1;
}
.aae-landing-pricing--section .secondary-link {
  margin: 30px 0px;
}

@media screen and (max-width: 700px) {
  .aae-landing-pricing--section {
    background-position: 200%;
  }
  .aae-landing-pricing--section
    .landing-services--content-header
    .naira-icon
    svg {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .pricing-item {
    width: 300px;
  }
  .aae-landing-pricing--section.container-styles {
    padding-left: 0px;
    padding-right: 0px;
  }

  .aae-landing-pricing--section {
    background-position: 200%;
  }
}
@media screen and (max-width: 360px) {
  .pricing-item {
    width: 280px;
  }
}
@media screen and (max-width: 300px) {
  .pricing-item {
    padding: 0px;
    width: 230px;
  }
}
