/* Landing Page Container */

#aae-landing-page {
  border-radius: 20px;
  background-size: 50% 50%;
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.float {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--complementary-goblin);
  color: #fff;
  padding: 15px;
  border-radius: 20px;
  font-size: 16px;
  z-index: 100;
  display: flex;
  align-items: center;
  animation: shadow1 1s ease 4s infinite;
}

.my-float {
  font-size: 25px;
}

@keyframes shadow1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(0.95);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
