* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --color-dark-blue: #3b4a8f;
  --color-platinum: #e6e6e6;
  --color-white: #fff;
  --btn-padding-small: 0.5em 1em;
}

body {
  background: url("https://images.pexels.com/photos/994517/pexels-photo-994517.jpeg?cs=srgb&dl=pexels-artem-beliaikin-994517.jpg&fm=jpg");
  background-size: cover;
}

.container-styles {
  max-width: 1382px;
  padding: 0.8em 4em;
  margin: 10px 0px;
}

@media screen and (max-width: 1090px) {
  .container-styles {
    padding: 0.8em 1em;
  }
}
