.aae-about-us--container {
  padding-top: 82px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.aae-about-us--header {
  margin: 0 auto;
  width: 100%;
  max-width: 1382px;
  padding: 0.8em 4em;
  height: calc(100vh - 82px);
  position: relative;
  display: flex;
  flex: 1 1;
  background-image: url("../../assets/about-us/about\ us-hero.jpg");
  margin-bottom: 50px;
}

.aae-about-us--header .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background-overlay);
}

.aae-about-us--header h1 {
  margin: 0;
  position: relative;
  font-weight: 600;
  color: white;
  font-size: 58px;
  line-height: 68px;
  margin-bottom: 25px;
}

.aae-about-us-hero--buttons {
  margin-top: 20px;
}

.about-us-image-container,
.mission-container {
  z-index: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.mission-container {
  background-position: top;
  background-repeat: no-repeat;
  background: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}

.mission-container p {
  margin: 20px 0px;
  width: 60%;
  font-weight: 500;
}
.about-us-image-container img {
  width: 100%;
  height: 100%;
}

.aae-about-us--main-hero {
  padding: 100px 0px 20px 0px;
  display: flex;
  justify-content: center;
}

.about-us--hero-image img {
  height: 650px;
  width: 447px;
  border-radius: 20px;
}

.about-us--hero-image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.about-us--hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.about-us--hero-content h5 {
  width: 80%;
  font-size: 32px;
  font-weight: 700;
}

/* Homes and Buildings */
.aae-about-us--homes-buildings-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homes-buildings-container:first-of-type,
.homes-buildings-container:last-of-type {
  width: 40%;
  height: 350px;
}
.landing-services--content-header.homes-buildings {
  position: relative;
}

.landing-services--content-header.homes-buildings i {
  position: absolute;
  color: rgba(0, 0, 0, 0.205);
  transform: translateY(-50%);
  top: 50%;
}
.landing-services--content-header.homes-buildings i:nth-of-type(1) {
  right: 10%;
}
.landing-services--content-header.homes-buildings i:nth-of-type(2) {
  left: 10%;
}

.homes-buildings-container .content-container {
  padding: 20px 0px 20px 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
.homes-buildings-container h5 {
  color: var(--color-dark-blue);
}
.homes-buildings-container:last-of-type h5 {
  color: var(--complementary-orange);
}
.homes-buildings-container h5 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 700;
}
.homes-buildings-container p {
  font-size: 0.95rem;
  font-weight: 400;
  color: rgba(59, 74, 143, 0.8);
  width: 60%;
  margin: 20px 0px;
}
.homes-buildings-container:last-of-type p {
  color: rgba(236, 84, 41, 0.8);
}

.homes-buildings-container:first-of-type {
  border: 0.001px solid rgba(59, 74, 143, 0.157);
  border-right-color: transparent;
  background: linear-gradient(
      90deg,
      rgb(255, 255, 255) 0%,
      rgb(255, 254, 254) 30%,
      rgba(253, 253, 253, 0.559) 101%
    ),
    url("../../assets/about-us/couples.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.homes-buildings-container:last-of-type {
  border: 0.001px solid #3b4a8f28;
  border-right-color: transparent;
  background: linear-gradient(
      90deg,
      rgb(255, 254, 254) 0%,
      rgba(253, 253, 253, 0.559) 100%
    ),
    url("../../assets/about-us/couch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.aae-about-us--values {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0px;
  background-color: #fff;
  border-radius: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.055);
  margin-bottom: 50px;
}

.landing-services--content-header.known-for > i {
  position: absolute;
  opacity: 0.2;
}

.landing-services--content-header.known-for > i:nth-child(1) {
  transform: rotate(45deg);
  top: 18%;
  left: 20%;
}
.landing-services--content-header.known-for > i:nth-child(2) {
  transform: rotate(45deg);
  top: 50%;
  left: 10%;
}
.landing-services--content-header.known-for > i:nth-child(3) {
  transform: rotate(45deg);
  top: 18%;
  right: 20%;
}
.landing-services--content-header.known-for > i:nth-child(4) {
  transform: rotate(45deg);
  top: 50%;
  right: 10%;
}

.landing-services--content-header.known-for h1 em {
  color: var(--complementary-orange);
}
.landing-services--content-header.known-for h1::before {
  background-color: var(--complementary-orange);
}

.aae-about-us--values-container > div {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239C92AC' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.aae-about-us--values-container > div:first-of-type {
  border-bottom: 1px solid rgba(216, 216, 216, 0.555);
}

.about-us--values-container {
  padding: 20px;
  padding-left: 30px;
  margin: 20px;
  margin-left: 100px;
  max-width: 300px;
  border-radius: 10px;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.about-us--values-container.clean-wash {
  background-color: #a05eb5;
}
.about-us--values-container.known-delivery {
  background-color: #00a3e0;
}
.about-us--values-container.satisfaction {
  background-color: #006298;
}
.about-us--values-container.service {
  background-color: var(--complementary-orange);
}

.about-us--values-container p {
  width: 80%;
  font-size: 14px;
  font-weight: 300;
  color: white;
}
.values-header i {
  color: rgba(255, 255, 255, 0.503);
  font-size: 1.8rem;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-30deg);
  top: 40%;
  right: -10px;
}
.about-us--values-container h5 {
  color: white;
  position: relative;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.1;
  margin-bottom: 15px;
}

/* Our Story */

.aae-about-us--our-story {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.about-us-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background-overlay);
}

.our-story--image-container {
  position: relative;
  width: 100%;
}
.our-story--image-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.landing-services--content-header.our-story {
  padding: 50px;
}

.landing-services--content-header.our-story .aae-about-us-hero--buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}
